body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background: black;
}

h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 100px;
  transition-duration: 1s;
}
h1:hover {
  color: lime;
  cursor: pointer;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
}

a:hover {
  color: skyblue;
}
